.projectList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.card {
  border-left: 5px solid var(--color-accent);
  padding-left: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.filterButtons {
  display: flex;
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-lg);
}

.filterButton {
  background-color: var(--color-caption);
}

.filterButton.active {
  background-color: var(--color-accent);
}
