.projectList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.card {
  border-left: 5px solid var(--color-accent);
  padding-left: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.projectLinkButton {
  margin-top: var(--spacing-sm);
  background-color: transparent;
  color: var(--color-body);
  border: 1px solid var(--color-caption);
  font-size: var(--font-caption);
  padding: 4px 6px;
}

.filterButtons {
  display: flex;
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-lg);
}

.filterButton {
  background-color: var(--color-caption);
}

.filterButton.active {
  background-color: var(--color-accent);
}
