.button {
  position: fixed;
  background-color: var(--color-caption);
  bottom: var(--spacing-lg);
  right: var(--spacing-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.button svg {
  width: 24px;
  height: 24px;
  fill: white;
}
