.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--border-radius);

  transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.02);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerIcon {
  fill: var(--color-body);
  width: 48px;
  height: 48px;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
