/* .gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
} */

/* .gallery {
  columns: 3 300px;
  column-gap: 1rem;
}

.gallery img {
  display: block;
  margin-bottom: 1rem;
  width: 300px;
  object-fit: cover;
} */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--border-radius);
  
  transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.02);
}
