.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  transition: var(--transition-transform);

  .title {
    color: var(--color-heading);
  }

  p {
    max-width: 50ch;
  }
}

@media (hover: hover) {
  .card {
    &:hover {
      transform: translateX(5px);
    }
  }
}
