.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  transition: var(--transition-transform);

  .title {
    color: var(--color-heading);
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-md);
  }
}

@media (hover: hover) {
  .card {
    &:hover {
      transform: translateX(5px);
    }
  }
}
