.card,
.blogCard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  height: 100%;
  transition: var(--transition-bg);
  padding: var(--spacing-lg);
}

.card {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}

.blogCard {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-bottom: 1px solid var(--color-border);
}

.chevron {
  transition: var(--transition-transform);
}

.date {
  margin-top: auto;
  padding-top: var(--spacing-xs);
}

@media (hover: hover) {
  .card:hover .chevron,
  .blogCard:hover .chevron {
    transform: translateX(3px);
  }
}
