.cardsContainer {
  display: flex;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
}

.card {
  width: fit-content;
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  transition: outline-color 0.15s ease-out;
  outline: 1px solid transparent;
  outline-offset: -1px;
}

.card:hover {
  outline-color: var(--color-accent);
}
