.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
}

.toolList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.label {
  border: 1px solid var(--color-border);
  background-color: var(--color-gray-light);
  padding: calc(var(--spacing-sm) * 0.5) var(--spacing-sm);
  border-radius: var(--border-radius);
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
