.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.imageCard {
  transition: transform 0.15s ease-out;
}

.attribution,
.attribution a {
  font-size: var(--font-caption);
  color: var(--color-caption);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerIcon {
  fill: var(--color-body);
  width: 48px;
  height: 48px;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  will-change: transform;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@media (hover: hover) {
  .imageCard:hover {
    transform: scale(1.02);
  }
}
