.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightContent,
.leftContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.iconContainer > a {
  display: flex;
}

.copyright {
  font-size: var(--font-caption);
  color: var(--color-caption);
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column-reverse;
    gap: var(--spacing-lg);
    align-items: flex-start;
    margin-top: var(--spacing-lg);
  }

  .rightContent {
    flex-direction: row-reverse;
  }
}
