.projectList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.card {
  border-left: 5px solid var(--color-accent);
  padding-left: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card:hover > h2 {
  color: var(--color-accent);
}

.filterButtons {
  display: flex;
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-lg);
}

button.active {
  background-color: var(--color-caption);
}
