.projectList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.card {
  border-left: 5px solid var(--color-accent);
  padding-left: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card:hover {
  opacity: 0.8;
}
